body{
	background: #d2d2c1 url("img/fundo.png");
	font: 16px Arial,helvetica, sans-serif;
}
#principal{
	border: 2px solid red;
	width: 900px;
}
#menu{
	background: #c5c5b2;
	border: 1px solid black;
	padding: 15px;

}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	border: 2px red solid; 
	padding: 5px;
}
#conteudo{
	
	background: #e8e8d9;
	padding: 10px;
}
.centralizar{
	text-align: center;
}